---
import BaseLayout from '../layouts/BlogPost.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import heroImage from '../assets/blog-placeholder-about.jpg';
---
<BaseLayout
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
	pubDate={new Date('March 09 2026')}
	heroImage={heroImage}
>
	<p>
		¡Bienvenido a Padel Fitness! Aquí encontrarás rutinas de ejercicio diseñadas específicamente para mejorar tu rendimiento en la pista de pádel.
	</p>
	<p>
		Este sitio se actualiza diariamente con 10 nuevos ejercicios, incluyendo videos demostrativos. Mira los <a href="/blog-ejercicios-padel/blog">ejercicios aquí</a>.
	</p>
</BaseLayout>
